{
    "parser": "babel-eslint",
    "rules": {
        "semi": [2, "always"],
        "quotes": [2, "single"],
        "curly": [
          2,
          "all"
        ],
        "keyword-spacing": [
          2,
          {}
        ],
        "space-before-function-paren": [
          2,
          "never"
        ],
        "array-bracket-spacing": [
          2,
          "never"
        ],
        "key-spacing": [
          2,
          {
            "beforeColon": false,
            "afterColon": true
          }
        ],
        "space-unary-ops": [
          2,
          {
            "words": false,
            "nonwords": false
          }
        ],
        "space-infix-ops": 2,
        "no-console": 2,
        "no-with": 2,
        "no-multiple-empty-lines": 2,
        "brace-style": [
          2,
          "1tbs",
          {
            "allowSingleLine": true
          }
        ],
        "eol-last": 2,
        "indent": [
          2,
          4,
          {
            "SwitchCase": 1
          }
        ],
        "valid-jsdoc": [
          2,
          {
            "prefer": {
              "return": "returns"
            },
            "requireParamDescription": false,
            "requireReturnDescription": false,
            "requireReturn": false
          }
        ]
    },
    "env": {
        "node": true,
        "browser": true,
        "amd": true,
        "jquery": true
    },
    "globals": {
        "FastAverageColor": true
    },
    "extends": "eslint:recommended"
}
