html, body {
    font-family: Arial;
    font-size: 16px;
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
}

.video-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

video {
    display: block;
    padding: 0;
    margin: 0;
    background: black;
    position: relative;
    z-index: 100;
    border: 10px solid black;
    outline: 1px solid rgba(255, 255, 255, 0.1);
}

.video-shadow {
    position: absolute;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
}

.video-shadow_left {
    left: 0;
    border-radius: 100% 0 0 100%;
}

.video-shadow_right {
    right: 0;
    border-radius: 0 100% 100% 0;
}

.video-shadow_top {
    top: 0;
    border-radius: 100% 100% 0 0;
}

.video-shadow_bottom {
    bottom: 0;
    border-radius: 0 0 100% 100%;
}
