html, body {
    font-family: Arial;
    font-size: 16px;
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    position: fixed;
    left: 80px;
    top: 11px;
    margin: 0;
    padding: 0;
    color: #aaa;
    font-weight: normal;
}

.ambilight-control {
    position: fixed;
    left: 80px;
    top: 55px;
    white-space: nowrap;
    color: #999;
    font-size: 12px;
    line-height: 12px;
}

.ambilight-control label {
    margin: 0;
    padding: 0;
    margin-right: 8px;
}

.ambilight-control input {
    margin: 0 2px 0 0;
    font-size: 12px;
    line-height: 12px;
}

.video-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

video {
    display: block;
    position: relative;
    border: 10px solid black;
    outline: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    margin: 0;
    background: black;
    z-index: 100;
}

.video-shadow {
    position: absolute;
    border-radius: 100%;
    transform: translate3d(0, 0, 0);
}

.video-shadow_left {
    left: 0;
    border-radius: 100% 0 0 100%;
}

.video-shadow_right {
    right: 0;
    border-radius: 0 100% 100% 0;
}

.video-shadow_top {
    top: 0;
    border-radius: 100% 100% 0 0;
}

.video-shadow_bottom {
    bottom: 0;
    border-radius: 0 0 100% 100%;
}

.copyright {
    position: fixed;
    left: 50%;
    margin-left: -5em;
    bottom: 5px;

    font-size: 12px;
    font-family: Arial;
}

.copyright:link,
.copyright:visited,
.copyright:active,
.copyright:hover {
    color: #555;
}
