html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

img
{
    width: 100%;
}

.item
{
    float: left;

    box-sizing: border-box;
    width: 500px;
    max-width: 100%;
    padding: 50px 50px 45px 50px;

    transition: background-color .5s ease;
}

.item__text
{
    padding-top: 10px;
}
