html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

.item
{
    float: left;

    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    padding: 30px;

    transition: border-color .5s ease;
}

.item__image-container
{
    transition: all .3s ease;

    border: 40px solid  #000;
    outline: 1px solid rgba(255, 255, 255, .08);
}

.item__image
{
    display: block;

    width: 100%;

    outline: 1px solid rgba(255, 255, 255, .08);
}

.item__text
{
    position: relative;
    z-index: 10;

    padding: 10px;

    color: #fff;
}
