html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

img
{
    width: 100%;

    transition: all .3s ease;

    border-radius: 50px;
}

img:hover
{
    transform: translateY(10px);

    opacity: .8;
}

.item
{
    float: left;

    box-sizing: border-box;
    width: 540px;
    max-width: 100%;
    padding: 30px 50px;

    transition: background-color .5s ease;
}

.item__text
{
    position: relative;
    z-index: 10;

    padding: 10px;
}
