html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

canvas
{
    position: fixed;
    top: 50%;
    left: 50%;

    width: 640px;
    height: 480px;
    margin-top: -240px;
    margin-left: -320px;

    border: 1px solid rgba(100, 100, 100, .5);
}

.info
{
    font-family: Arial;
    font-size: 16px;

    position: fixed;
    z-index: 10;
    top: 50px;
    left: 50px;

    padding: 20px;

    color: white;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    text-shadow: 1px 1px 2px black;
}

.info__item
{
    overflow-x: hidden;

    width: 250px;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.info__item, .mode {
    padding: 3px;
}

.mode {
    margin: 5px 0 5px 0;
}

#start {
    font-size: 14px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
