.nav
{
    position: fixed;
    z-index: 10000;
    top: 5px;
    left: 5px;
    padding: 10px;

    background: rgba(0, 0, 0, .5);

    border-radius: 5px;
}

.back
{
    margin-right: 15px;
}

.prev
{
    margin-right: 3px;
}

.button
{
    padding: 5px 15px;

    transition: opacity .3s ease;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);

    font-size: 12px;

    filter: grayscale(100%);
}

.button:hover
{
    opacity: .5;
}
