.nav {
    position: fixed;
    left: 10px;
    top: 20px;
    z-index: 10000;
}

.back {
    margin-right: 20px;
}

.prev {
    margin-right: 5px;
}

.button {
    text-decoration: none;
    opacity: .5;
    transition: opacity .3s ease;
    color: #fff;
    background: rgba(255, 255, 255, .3);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    opacity: 1;
}
