html, body {
    font-family: Arial;
    font-size: 16px;
    background: black;
    margin: 0;
    padding: 0;
    border: 0;
}

.select-file-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    color: white;
    white-space: nowrap;
}

.images {
    margin-top: 50px;
}

.images__item {
    display: inline-block;
    margin: 25px;
    padding: 25px;
}

.images__title {
    padding-bottom: 5px;
}
