html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

.select-file-container
{
    margin-top: 50px;
    padding: 10px;

    text-align: center;
    white-space: nowrap;

    color: white;
    background: rgba(0, 0, 0, .5);
}

.images
{
    margin-top: 50px;
}

.images__item
{
    display: inline-block;

    margin: 25px;
    padding: 25px;
}

.images__img
{
    max-width: 640px;
    max-height: 480px;

    border: 1px solid gray;
}

.images__title
{
    padding-bottom: 5px;
}
