html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

.item
{
    position: relative;

    float: left;

    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    margin: 1px 1px 0 0;

    transition: all .5s ease;
}

.item__image
{
    position: relative;
}

img
{
    display: block;

    width: 100%;
}

.item__gradient
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 0;

    transition: all .5s ease;
}

.item_bottom .item__gradient
{
    top: 50%;
    bottom: 0;
}


.item__text
{
    padding: 20px;
}
