html,
body
{
    font-family: Arial;
    font-size: 16px;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

.items
{
    box-sizing: border-box;
    padding: 20px;
}

.item
{
    position: relative;

    float: left;

    box-sizing: border-box;
    width: 460px;
    max-width: 100%;
    margin: 0 20px 20px 0;
    padding: 30px;

    transition: all .5s ease;
}

img
{
    display: block;

    width: 100%;
}

.item__text
{
    padding: 10px 0 10px 0;
}
