html,
body
{
    font-family: Arial;

    margin: 0;
    padding: 0;

    border: 0;
    background: black;
}

.controls
{
    font-size: 11px;
    line-height: 14px;

    position: fixed;
    z-index: 100;
    top: 70px;
    left: 10px;

    margin: 0;
    padding: 0;

    color: #999;
}

.controls label
{
    display: block;
}

.controls input
{
    font-size: 11px;
    line-height: 14px;
}

.big-photo,
.text-photo
{
    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

@media (max-width: 900px) and (min-width: 800px)
{
    .big-photo,
    .text-photo
    {
        transform: translate(-50%, -50%) scale(.9);
    }
}

@media (max-width: 800px) and (min-width: 700px)
{
    .big-photo,
    .text-photo
    {
        transform: translate(-50%, -50%) scale(.8);
    }
}

@media (max-width: 700px) and (min-width: 600px)
{
    .big-photo,
    .text-photo
    {
        transform: translate(-50%, -50%) scale(.7);
    }
}

@media (max-width: 600px)
{
    .big-photo,
    .text-photo
    {
        transform: translate(-50%, -50%) scale(.6);
    }
}

.text-photo
{
    visibility: visible;

    opacity: 0;
}

.big-photo_fade
{
    transition: opacity 2s ease;

    opacity: 0;
}

.big-photo_load
{
    visibility: hidden;
}

.text-photo_fade
{
    transition: opacity 2s ease;

    opacity: 1;
}
